.connect-to-us {
  text-align:  center;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}
.contact-container {
  flex-direction: row;
  justify-content: space-around;
}
.contact-item {
}
