
.flexcontainer {
  display: webkit flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  &.column {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }
}
