.instructions div {
  border: 1px dashed red;
}
// .photo{
//   height: 200px;
//   width: auto;
// }
.instructions-header {
  h1 {
    font-size: 5em;
  }
}

.instruction-group {
  h2 {
    font-size: 2em;
    padding-top: 2em;
  }
}

.instruction {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  p {
    flex: 3 0px;
    padding: 1em;
    font-size: 1.5em;
  }
  img.photo {
    flex: 1 auto;
    background-color: black;
    max-width: 50%;
    max-height: 20rem;
    object-fit: contain;
  }

  &.right {
    img {
      order: -1
    }
  }

}
