/*
  props where due:
  http://codepen.io/team/css-tricks/pen/YqaKYR

*/
.navigation {
  list-style: none;
  margin: 0;
  background: tomato;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  justify-content: space-around;

}

.navigation a {
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: darken(tomato, 5%);
}
/* possible to use this for future */
// @media all and (max-width: 1800px) {
//   .navigation {
//     justify-content: space-around;
//   }
// }
