@import "../Style/_flex.scss";
@import "../Style/_colors.scss";
@import "../Style/_fonts.scss";

input.btn {
  border-radius: 5px;
  box-shadow: 1px 1px 20px 3px hsla(0, 0%, 0%, .6);
  max-height: 1.1em;
  padding: 0.5em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, .25);
  font: $order-button-font;
  letter-spacing: 2px;
  color: $buy-yellow;
  background: $button-background;
  cursor: pointer;
}

@media only screen and (width: 760px) {

  .input.btn {
    color: yellow;
    max-height: 0.1em;
  }
}
.anim {
  animation: jiggle 4s ease-in infinite;
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(0.99, 0.95)
  }
  56% {
    transform: scale(1.01, 1.05) translate(0, -6px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -6px)
  }
}
