  /* props https://scotch.io/bar-talk/codepen-challenge-1-css-jiggly-button */

@import "../Style/_flex.scss";
@import "../Style/_colors.scss";
@import "../Style/_fonts.scss";

$button-background: hsla(43, 96%, 8%, 0.78);
$order-button-font: 700 5.4em /1 'Open Sans', sans-serif;

.intro {
  height: 100vh;
  max-width: 1334px;
  background: url('../../Static/intro_image.png') no-repeat center black;
  background-size: contain;
  align-items: center;
}

a {
  text-decoration: none;
}

input.btn {
  border-radius: 5px;
  box-shadow: 1px 1px 20px 3px hsla(0, 0%, 0%, .6);
  width: 7em;
  max-height: 1em;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, .25);
  font: $order-button-font;
  letter-spacing: 2px;
  color: $buy-yellow;
  background: $button-background;
  cursor: pointer;
}

.anim {
  animation: jiggle 4s ease-in infinite;
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(0.99, 0.95)
  }
  56% {
    transform: scale(1.01, 1.05) translate(0, -6px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -6px)
  }
}
