  /* props https://scotch.io/bar-talk/codepen-challenge-1-css-jiggly-button */

@import "../Style/_flex.scss";
@import "../Style/_colors.scss";
@import "../Style/_fonts.scss";

.intro {
  height: 90vh;
  background: url('../../Static/intro_image.png') no-repeat center black;
  background-size: contain;
  align-items: center;
}

a {
  text-decoration: none;
}
