  /* props https://scotch.io/bar-talk/codepen-challenge-1-css-jiggly-button */

@import url(http://fonts.googleapis.com/css?family=OpenSans:700);

$buy-yellow: hsla(53, 69%, 60%, .9);
$button-background: hsla(43, 96%, 8%, 0.73);
$button-font: 700 3.1rem /1 'Open Sans', sans-serif;

.flexcontainer {
  display: webkit flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  &.column {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }
}


.intro {
  height: 85vh;
  max-width: 1334px;
  background: url('../../Static/intro_image.png') no-repeat center black;
  background-size: cover;
  align-items: center;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 5px;
  box-shadow: 1px 1px 20px 3px hsla(0, 0%, 0%, .6);
  width: 7rem;
  padding: .4rem;
  color: $buy-yellow;
  // text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, .25);
  font: $button-font;
  letter-spacing: 2px;
  background: $button-background;
  cursor: pointer;
}

.anim {
  animation: jiggle 4s ease-in infinite;
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(0.99, 0.95)
  }
  56% {
    transform: scale(1.01, 1.05) translate(0, -6px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -6px)
  }
}
