// make entire page full body width
html, body, #root, .app {
  margin: 0 0 0 0;
}

#root {
  overflow-x: scroll;
  // remove horizontal scrollbar so that nav menu is not covered at 100% vh
}

.instruction-video {
  height: 400px;
  width: 100%,
}

.share {
  text-align: center;
  height: 24%;
  .call-to-action {
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .buttons {
    height: auto;
    color: blue;
  }
}
