// make entire page full body width
// html, body, #root, .app {
//   height: 100%;
// }

.intro {
  height: 85vh;
  background: url('../../Static/intro_image_case.jpg') no-repeat center black;
  background-size: contain;
  position: relative;
  text-align: center;
  .mask {
    .axis-logo {
      background: url('../../Static/axis_2000_oval_logo.jpg') no-repeat;
      background-size: contain;
      background-opacity: 0.8;
      height: 25vh;
      // width: 100%;
      // z-index: 100;
    }
    .mask-text {
      color: white;

    }
  }
}

button.buy-now {
  color: red;
  position: absolute;
  bottom: 10px;
}

.testimonials {
  display: flex;
  flex-flow: row wrap;
  height: 250px;

}
.testimonial {
  width: 100px;
  height: 100px;
  padding: 0 0 0 0 ;
  margin-bottom: 0px;
  margin: auto;
}

.instruction-video {
  width: 100%,
}

.testimonials-header {
    text-align:  center;
    width:  100%;
    height:  15%;
    background: tomato;

}

.testimonials-footer {
  text-align: center;
  height:  15%;
  width: 100%;
  .inside {
    background: tomato;
    width: 8rem;
    padding: 3rem;
  }
}

.instruction-video {
  height: 400px;
}

.share {

  text-align: center;
  height: 24%;
  .call-to-action {
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .buttons {
    height: auto;
    color: blue;
  }
}
